@tailwind base;

@tailwind components;

@tailwind utilities;

@import '~nprogress/nprogress.css';

html {
    font-family: 'Open Sans', sans-serif;
    @apply .text-gray-800;
}

.bg-gradient {
    background: #177aa2; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #177aa2 0%, #6cbe58 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#177aa2), color-stop(100%,#6cbe58)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* IE10+ */
    background: linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177aa2', endColorstr='#6cbe58',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

.toasted-container.bottom-right {
    min-width: 32rem !important;
    @apply .right-0 .bottom-0 .mr-4 .mb-4 .max-w-full !important;
}
.fluentkit.toasted {
    @apply .rounded .shadow-md .text-white .bg-gray-500 .py-3 .px-4;
    @apply .w-full .justify-start !important;
}
.fluentkit.toasted .action {
    @apply .p-0 .m-0 .pl-4 .no-underline !important;
}
.fluentkit.toasted .action:first-of-type {
    @apply .ml-auto !important;
}
.fluentkit.toasted .action:hover {
    @apply .text-gray-300;
}
.fluentkit.toasted .fa {
    @apply .m-0 .p-0 .pr-4 !important;
}
.fluentkit.toasted .fa.after {
    @apply .pr-0 .pl-4 !important;
}
.fluentkit.toasted.info {
    @apply .bg-blue-500;
}
.fluentkit.toasted.success {
    @apply .bg-green-500;
}
.fluentkit.toasted.error {
    @apply .bg-red-500;
}
