@tailwind base;

@tailwind components;

@tailwind utilities;

@import "~nprogress/nprogress.css";

html {
    font-family: 'Open Sans', sans-serif;
    @apply .text-gray-800;
}

.bg-gradient {
    background: #177aa2; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #177aa2 0%, #6cbe58 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#177aa2), color-stop(100%,#6cbe58)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* IE10+ */
    background: linear-gradient(45deg,  #177aa2 0%,#6cbe58 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177aa2', endColorstr='#6cbe58',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

/**
 * NProgress
 */
/* Make clicks pass-through */
/*#nprogress {*/
/*    pointer-events: none;*/
/*}*/

/*#nprogress .bar {*/
/*    background: #29d;*/

/*    position: fixed;*/
/*    z-index: 1031;*/
/*    top: 0;*/
/*    left: 0;*/

/*    width: 100%;*/
/*    height: 2px;*/
/*}*/

/*!* Fancy blur effect *!*/
/*#nprogress .peg {*/
/*    display: block;*/
/*    position: absolute;*/
/*    right: 0px;*/
/*    width: 100px;*/
/*    height: 100%;*/
/*    box-shadow: 0 0 10px #29d, 0 0 5px #29d;*/
/*    opacity: 1.0;*/

/*    -webkit-transform: rotate(3deg) translate(0px, -4px);*/
/*    -ms-transform: rotate(3deg) translate(0px, -4px);*/
/*    transform: rotate(3deg) translate(0px, -4px);*/
/*}*/

/*!* Remove these to get rid of the spinner *!*/
/*#nprogress .spinner {*/
/*    display: block;*/
/*    position: fixed;*/
/*    z-index: 1031;*/
/*    top: 15px;*/
/*    right: 15px;*/
/*}*/

/*#nprogress .spinner-icon {*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    box-sizing: border-box;*/

/*    border: solid 2px transparent;*/
/*    border-top-color: #29d;*/
/*    border-left-color: #29d;*/
/*    border-radius: 50%;*/

/*    -webkit-animation: nprogress-spinner 400ms linear infinite;*/
/*    animation: nprogress-spinner 400ms linear infinite;*/
/*}*/

/*.nprogress-custom-parent {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/

/*.nprogress-custom-parent #nprogress .spinner,*/
/*.nprogress-custom-parent #nprogress .bar {*/
/*    position: absolute;*/
/*}*/

/*@-webkit-keyframes nprogress-spinner {*/
/*    0%   { -webkit-transform: rotate(0deg); }*/
/*    100% { -webkit-transform: rotate(360deg); }*/
/*}*/
/*@keyframes nprogress-spinner {*/
/*    0%   { transform: rotate(0deg); }*/
/*    100% { transform: rotate(360deg); }*/
/*}*/

/**
 * Toasted
 */
.toasted-container.bottom-right {
    min-width: 32rem !important;
    @apply .right-0 .bottom-0 .mr-4 .mb-4 .max-w-full !important;
}
.fluentkit.toasted {
    @apply .rounded .shadow-md .text-white .bg-gray-500 .py-3 .px-4;
    @apply .w-full .justify-start !important;
}
.fluentkit.toasted .action {
    @apply .p-0 .m-0 .pl-4 .no-underline !important;
}
.fluentkit.toasted .action:first-of-type {
    @apply .ml-auto !important;
}
.fluentkit.toasted .action:hover {
    @apply .text-gray-300;
}
.fluentkit.toasted .fa {
    @apply .m-0 .p-0 .pr-4 !important;
}
.fluentkit.toasted .fa.after {
    @apply .pr-0 .pl-4 !important;
}
.fluentkit.toasted.info {
    @apply .bg-blue-500;
}
.fluentkit.toasted.success {
    @apply .bg-green-500;
}
.fluentkit.toasted.error {
    @apply .bg-red-500;
}
